{% extends 'usr_app/base.html' %}
{% load staticfiles %}
{% block body_block %}
<div class="Container">
  {% if registered %}
  <h1 class = "display-4" >Thankyou for Registering!</h1>
  {% else %}
    <h1 class = "display-4"> Welcome to register page</h1>
    <br>
  <h1 class = "display-4" >Register Here</h1>
  <h3 class = "display-4" >Fill out the form!</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{user_form.as_p}}
    {{user_profile_form.as_p}}
    <input type="submit" name="" value="Register">
  </form>
  {% endif %}
  </div>
{% endblock %}
